.btn-facebook {
    background-color: #3b5998;
    color: white;
}
.btn-google {
    background-color: #ea4335;
    color: white;
}
.btn-twitter {
    background-color: #1da1f2;
    color: white;
}
.btn-github {
    background-color: black;
    color: white;
}